@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --primary-color: #debb9d;
    --secondary-color: #5a2800;
    --white-text: #fff
}

@font-face {
    font-family: 'VT323';
    src: url('/fonts/pixel-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px !important;
    height: fit-content;
    color: var(--secondary-color);
    font-family: Verdana, Arial, 'Times New Roman', sans-serif;
    background-color: var(--primary-color);
}

.pixel-font {
    font-family: 'VT323';
    letter-spacing: 2px;
}

.container {
    display: flex;
    align-content: center;
    justify-content: center;
}