:root {
    --primary-color: #debb9d;
    --secondary-color: #5a2800;
    --white-text: #fff
}

body {
    margin: 0px !important;
    height: fit-content;
    color: var(--secondary-color);
    font-family: Verdana, Arial, 'Times New Roman', sans-serif;
    background-color: var(--primary-color);
}

.containter {
    display: flex;
    align-content: center;
    justify-content: center;
}